* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: "Lora", serif;
    background-color: black; 
    color: white; 
}

html, body {
    height: 100%; 
    width: 100%; 
    overflow-x: hidden; 
    overflow-y: auto;
}

.headings {
    text-align: center; 
    font-weight: normal;
    font-size: 2rem; 
    margin: 20px 0; 
}

.content {
    display: flex;
    flex-direction: row;     
    justify-content: center; 
    align-items: center; 
    min-height: 80vh; 
}

.text{
    text-align: left;
    margin-right: 10%;
    width: 40%;
}

.gradient-box {
    position: absolute; /* Allows control of exact placement */
    top: 0; /* Start the gradient box at the top of the preview container */
    left: 0;
    width: 100%; /* Full width of the preview container */
    height: 100%; /* Adjust this value for the gradient height */
    z-index: -1; /* Behind the preview container content */
    background: linear-gradient(to top, rgba(122, 4, 235, 0.3) 20%, rgba(255, 122, 80, 0) 80%);
}

.contact-card {
    position: relative;
    background-color: #222;
    border: 2px solid #FF9B71;
    border-radius: 10px;
    padding: 20px;
    width: 25%;
    text-align: center;
    align-content: center;
    overflow: hidden;
}

.contact-card:hover {
    box-shadow: 1px 1px 25px 10px #FF9B71;
}

.contact-card:before{
    content: "";
    position: absolute;
    top: -100%;
    left: -100%; 
    width: 120%;
    height: 150%;
    background: linear-gradient(
        120deg,
        rgba(255, 156, 113, 0) 0%,
        rgba(255, 156, 113, 0) 30%,
        rgba(252, 122, 67, 0.31) 50%,
        rgba(255, 156, 113, 0) 60%,
        rgba(255, 155, 113, 0) 100%
    );
    transition: left 600ms ease-in-out, top 600ms ease-in-out;
}

.contact-card:hover:before{
    left: 100%;
    top: 100%;
}

.profile-pic {
    width: 60%; 
    height: 50%;
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 15px;
}

.icons {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px; 
}

.icons img {
    width: 30px;
    height: auto;
}
